.image-list {
  margin-top: 10vh;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-auto-flow: column;
  height: 50vh;
  grid-template-columns: repeat(10, calc(25%));
  grid-template-rows: minmax(150px, 1fr);
  gap: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  scroll-snap-align: start;
}
